<!DOCTYPE html>
<html ng-app="chat">
  <head>
    <title>chat interface</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//code.angularjs.org/1.6.6/angular.min.js"></script>
    <script src="bundle.js"></script>
  </head>
  <body class="sans-serif" ng-controller="channel">
    <div class="center w-100 mw6 bg-blur pa4 db vh-90 relative">
      <div class='overflow-y-hidden overflow-y-scroll absolute bottom-0 right-0 left-0 w-100'>
        <div ng-repeat="msg in messages">
          <div class="ma3 db flex items-center relative" ng-class="msg.user ? 'justify-end tr' : 'justify-start tl'">
            <div class="w-70 bg-white br1 pa2 pv3" ng-class="msg.user ? 'speech-mark-l' : 'speech-mark-r'">
              <div class="brown">{{ msg.msg }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="btns" class="center w-100 mw6 bg-input db flex items-center justify-end">
      <div class="flex-auto dib pv3 pl3">
        <input type="text" name="input" class="w-100" ng-model="input" ng-keypress="$event.keyCode === 13 && onSubmit()" />
      </div>
      <div class="flex-none dib pr2 pl1 white active-btn" ng-click="onSubmit()">
        <svg width="36px" height="36px" viewBox="0 0 89 78" transform="translate(2.5, 2.5)" xmlns="http://www.w3.org/2000/svg">
          <path d="M.492.414l88.361 38.642L.493 77.103V46.856l63.447-8.098L.492 30.48z" fill="currentColor" fill-rule="evenodd"/>
        </svg>
      </div>
    </div>
    <div ng-hide="!btns" class="center w-100 mw6 pl2 bg-input db flex items-center justify-start">
      <div ng-repeat="btn in btns" class="pa3 mv3 ml2 br2 bg-white brown" ng-click="onBtnSubmit(btn)">
        {{btn}}
      </div>
    </div>
  </body>
</html>
