<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>chat interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="bundle.js"></script>
  </head>
  <body class="sans-serif" ng-controller="messageController">
    <div class="center w-100 bg-blur db vh-100 relative flex flex-column items-center justify-end">

      <!-- MESSAGES -->

      <div class="flex-auto overflow-y-hidden overflow-y-scroll w-100 pa2">
        <div ng-repeat="message in messages">
          <div class="ma3 db flex items-center relative" ng-class="{'justify-start': !message.user, 'justify-end': message.user}">
            <div class="w-90 bg-white br1 pa2 pv3">
              <div class="brown">{{ message.msg }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- TIMER -->

      <div class="flex-none w-100" ng-controller="timerController">
        <div ng-hide="$parent.hide.timer" class="db bg-pink red w-100">
          <div class="pa3">
            <h1 class="w-100 pt3 tc" ng-hide="running">{{ timer.instance.formattedDuration }}</h1>
            <h1 class="w-100 pt3 tc" ng-hide="!running">{{ display.time }}</h1>
          </div>
          <div class="pa3 flex items-center justify-center">
            <button ng-hide="running" class="mr1 bg-red pink pv2 ph4" ng-click="onStart()">Start</button>
            <button class="ml1 bg-red pink pv2 ph4" ng-click="onCancel()">Cancel</button>
          </div>
        </div>
      </div>

      <!-- INPUT -->

      <div class="flex-none bg-input db w-100" ng-controller="inputController">
        <form ng-hide="$parent.hide.input" class="flex items-center justify-end" ng-submit="submit()" style="min-height: 4rem;">
          <div class="flex-auto dib pa3">
            <input type="text" ng-model="input" class="w-100" ></input>
          </div>
          <div type="submit" class="flex-none dib pr3 white active-btn">
            <svg width="36px" height="36px" viewBox="0 0 89 78" transform="translate(2.5, 1)" xmlns="http://www.w3.org/2000/svg">
              <path d="M.492.414l88.361 38.642L.493 77.103V46.856l63.447-8.098L.492 30.48z" fill="currentColor" fill-rule="evenodd"/>
            </svg>
          </div>
        </form>
      </div>

      <!-- BUTTONS -->

      <div class="flex-none bg-input db w-100" ng-controller="buttonController">
        <div ng-hide="$parent.hide.buttons" class="flex items-center justify-center pv3">
          <div ng-repeat="btn in $parent.buttons" class="br-pill tc pa2 mh2 ba b--white bg-orange white pointer" ng-click="submit(btn)">{{ btn }}</div>
        </div>
      </div>

    </div>
  </body>
</html>
